body {
    margin: 0;
    padding: 0;
    /*font-family: "Open Sans", serif;*/
}

.ui.masthead.segment {
  // background: #000 !important;
  background-image: url(../images/header-bg.jpg) !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  padding: 1em 0em;
}
.masthead h1.ui.header {
  margin-top: 20vh;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}


@media only screen and (max-width: 320px) {

   .masthead h1.ui.header { font-size: 2em; padding-bottom: 0.5em; }
   .masthead h2.ui.header { display: none; }

}